*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    font-size: 1.2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(212, 212, 193);
    border-radius: 30px;
}

.container h1{
    color: grey;
    margin: 20px;
    padding:0px 0px 20px 0px;
    text-align: center;
    font-weight: 600;
}

.initial-value{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 13vw;
    border: 25px solid white;
    border-radius: 50%;
    color: black;
    margin: 30px auto;
    padding: 30px;
    font-size: 3rem;
}



.counter{
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.buttons{
     color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 20px;
}

.increaseBtn{
    width: clamp(70px, 10vw, 80px);
    height: clamp(70px, 10vw, 80px);
    background-color: rgb(202, 233, 244);
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 30%;
    border: 14px solid beige;
    padding: 10px;
}

.decreaseBtn{
    width: clamp(70px, 10vw, 80px);
    height: clamp(70px, 10vw, 80px);
    background-color: rgb(202, 233, 244);
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 30%;
    border: 14px solid beige;
    padding: 10px;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.resetBtn{
    width: clamp(70px, 10vw, 80px);
    height: clamp(70px, 10vw, 80px);
    background-color: rgb(202, 233, 244);
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 50%;
    border: 12px solid beige;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

i{
    font-size: 20px;
    text-align: center;
    padding-top:7px;
}
.increaseBtn:hover i{
    color: red;
}

.decreaseBtn:hover i{
    color: brown;
}

.resetBtn:hover i{
    color:rgb(236, 236, 3);
}

h2{
    position: absolute;
    bottom: 60%;
    font-size: 35px;
    padding: 40px;
}


h2:hover{
    color: red;
    cursor: pointer;
}

.details p{
    padding: 20px;
    margin: 40px;
}