*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    max-height: 1000px;
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    margin: 80px auto;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}


h1{
    padding: 20px;
    color: white;
}

.Counter-heading{
    color: white;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    padding: 60px;
}

.details{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 25px;
}

.text{
    display: flex;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
    cursor: pointer;
}

.buttons i{
    border: 2px solid white;
    height: 40%;
    color : white;
    padding: 5px;
    font-size: 20px;
    margin: 15px;
    text-align: center;
    padding-bottom: 80px;
}