*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-image:
    url(https://png.pngtree.com/thumb_back/fh260/background/20231219/pngtree-colorful-study-desktop-simple-background-for-the-beginning-of-school-season-image_15522740.png);
    height: 100%;
    width: 100%;
    max-height: 1000px;
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    margin: 120px auto;
}


h1{
    padding: 20px;
}

.Counter-heading{
    color: black;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    padding: 40px;
}

.details{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 25px;
}

.text{
    display: flex;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 60px 60px;
}

.buttons i{
    height: 40%;
    color : black;
    padding: 5px;
    font-size: 20px;
    margin: 15px;
    text-align: center;
    padding-bottom: 80px;
}