*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: red;
    height: 100%;
    width: 100%;
    max-height: 800px;
    max-width: 800px;
    text-align: center;
    font-size: 30px;
    margin: 50px auto;
    padding: 40px;
}