*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: large;
}

h1{
    text-align: center;
    text-decoration: solid;
    padding: 10px;
    position: relative;
    top: 0;
    bottom: 0;
    color: white;
}

h2{
    position: absolute;
    bottom: 60%;
    font-size: 35px;
    padding: 40px;
}

.container{
    display: flex;
    text-align: center;
    background-color: black;
    width: 100%;
    max-width: 50%;
    height: 90vh;
    margin: 40px auto;
    display: flex;
     justify-content: center;
     align-items: center;
     
}

.counter-buttons{
    display: flex;
    justify-content: center;
    border-radius: 15%;
    background-color: white;
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 40px;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}

.increaseBtn{
    background-color: blue;
    color: white;
    font-weight: 500;
    width: 12%;
    height: 10%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 7px solid black;
    padding: 5px;
    margin: 20px;
}

.decreaseBtn{
background-color: blue;
    color: white;
    font-weight: 500;
    width: 12%;
    height: 10%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 7px solid black;
    padding: 5px;
    margin: 20px;
}

.resetBtn{
    background-color: blue;
    color: white;
    font-weight: 500;
    width: 12%;
    height: 10%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 7px solid black;
    padding: 5px;
    margin: 20px;
}

i{
    font-size: 20px;
    text-align: center;
    padding-top:7px;
}
.increaseBtn:hover i{
    color: red;
}

.decreaseBtn:hover i{
    color: brown;
}

.resetBtn:hover i{
    color:rgb(236, 236, 3);
}

h2:hover{
    color: red;
    cursor: pointer;
}
