*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

.container{
    background-color: black;
    width: 100%;
    max-width: 50%;
    height: 90vh;
    color: white;
    margin: 40px auto;
}

.counter-buttons{
 background-color: red;
 width: 100%;
}

.increaseBtn{
    width: 100%;
    height: 100%;
}