* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.html, body{
    height: 100%;
    width: 100%;
}

.Btn{
    margin: 50px;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
}

.model-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(86, 82, 82);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.model-content{
    text-align: center;
    gap: 30px;
    background-color: white;
    padding: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.close-button{
    gap:20px;
     margin: 10px;
     padding: 5px 5px;
     font-size: 20px;
     cursor: pointer;
     text-shadow: blue;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
}

p{
   padding:20px;
   text-align: center;
   font-size: 20px;
   font-weight: 600
}
